<script setup lang="ts">
defineProps<{ babname: string, mushtaq: Record <string, any> }>()
</script>

<template>

  <h3 class="bab">{{ babname }}</h3>
  <div class="gardanbox">
    <p id="gardan_sarrafa" class="gardan">
      {{ mushtaq.hazir_madi.word }} {{ mushtaq.hazir_mudari.word }} {{ mushtaq.hazir_masdar.word }} فَهُوَ {{ mushtaq.hazir_fail.word }}
      وَ
      <template v-if="mushtaq.majhul_madi">{{ mushtaq.majhul_madi.word }} {{ mushtaq.majhul_mudari.word }} {{ mushtaq.majhul_masdar.word }} فَهُوَ {{ mushtaq.majhul_fail.word }}</template>
      الْأَمْرُ مِنْهُ {{ mushtaq.hazir_amr_0.word }}
      <template v-if="mushtaq.hazir_amr_1"> وَ {{ mushtaq.hazir_amr_1.word }}</template>
      <template v-if="mushtaq.hazir_amr_2"> وَ {{ mushtaq.hazir_amr_2.word }}</template>
      النَّهْيُ عَنْهُ لاَ {{ mushtaq.hazir_nahi_0.word }}
      <template v-if="mushtaq.hazir_amr_1"> وَ لاَ {{ mushtaq.hazir_nahi_1.word }}</template>
      <template v-if="mushtaq.hazir_amr_2"> وَ لاَ {{ mushtaq.hazir_nahi_2.word }}</template>
    </p>
  </div>

</template>

<style scoped>
div.gardanbox {
  font-family: 'Amiri Quran', serif;
  border-style: solid;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 20px;
  box-shadow: 5px 5px;
}

h3.bab {
  font-family: 'Amiri Quran', serif;
  text-align: center;
  font-size: 35px;
  border-top: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
  line-height: normal;
}

p.gardan {
  font-family: 'Amiri Quran', serif;
  text-align: right;
  font-size: 35px;
  line-height: normal;

}
</style>
