<script lang="ts">
import { doSarf } from './sarf';
import Bab from './components/Bab.vue'
import { routeLocationKey } from 'vue-router';

export default {
  data() {
    return {
      faa: 'ف',
      ayn: 'ع',
      lam: 'ل',
      sarrafa: <string | any>({}),
      qaatala: <string | any>({}),
      akrama: <string | any>({}),
      taqabbala: <string | any>({}),
      taqaabala: <string | any>({}),
      infatara: <string | any>({}),
      ijtanaba: <string | any>({}),
      ihmarra: <string | any>({}),
      istansara: <string | any>({}),
      ikhshawshana: <string | any>({}),
      idhaamma: <string | any>({}),
      ijlawwadha: <string | any>({})
    }
  },
  methods: {
    changeUrl() {
      let changedUrl = window.location.href.split('?')[0] + "?";

      if (this.faa !== null && this.faa != "ف") {
        changedUrl += 'f=' + this.faa;

      }
      if (this.ayn !== null && this.ayn != "ع") {
        changedUrl += '&a=' + this.ayn;
      }
      if (this.lam !== null && this.lam != "ل") {
        changedUrl += '&l=' + this.lam;
      }

      window.history.replaceState(null, "", changedUrl);
    },
    runSarf() {
      let mushtaqat = doSarf(this.faa, this.ayn, this.lam);
      this.sarrafa = mushtaqat["sarrafa"];
      this.qaatala = mushtaqat["qaatala"];
      this.akrama = mushtaqat["akrama"];
      this.taqabbala = mushtaqat["taqabbala"];
      this.taqaabala = mushtaqat["taqaabala"];
      this.infatara = mushtaqat["infatara"];
      this.ijtanaba = mushtaqat["ijtanaba"];
      this.ihmarra = mushtaqat["ihmarra"];
      this.istansara = mushtaqat["istansara"];
      this.ikhshawshana = mushtaqat["ikhshawshana"];
      this.idhaamma = mushtaqat["idhaamma"];
      this.ijlawwadha = mushtaqat["ijlawwadha"];
      this.changeUrl();
    }
  },
  beforeMount() {
    if (this.$route.query.f !== undefined && this.$route.query.f !== null) {
      this.faa = String(this.$route.query.f);
    }
    if (this.$route.query.a !== undefined && this.$route.query.a !== null) {
      this.ayn = String(this.$route.query.a);
    }
    if (this.$route.query.l !== undefined && this.$route.query.l !== null) {
      this.lam = String(this.$route.query.l);
    }
    this.runSarf();
  },
  components: {
    Bab,
  }
}
</script>

<template>
  <div>
    <p class="kalima">
      <label for="faa">فاء كلمة</label>
      <select name="faa" id="faa" v-model="faa" @change="runSarf" >
        <option value="ء">ء</option>
        <option value="ب">ب</option>
        <option value="ت">ت</option>
        <option value="ث">ث</option>
        <option value="ج">ج</option>
        <option value="ح">ح</option>
        <option value="خ">خ</option>
        <option value="د">د</option>
        <option value="ذ">ذ</option>
        <option value="ر">ر</option>
        <option value="ز">ز</option>
        <option value="س">س</option>
        <option value="ش">ش</option>
        <option value="ص">ص</option>
        <option value="ض">ض</option>
        <option value="ط">ط</option>
        <option value="ظ">ظ</option>es
        <option value="ع">ع</option>
        <option value="غ">غ</option>
        <option value="ف" SELECTED>ف</option>
        <option value="ق">ق</option>
        <option value="ك">ك</option>
        <option value="ل">ل</option>
        <option value="م">م</option>
        <option value="ن">ن</option>
        <option value="و">و</option>
        <option value="ه">ه</option>
        <option value="ي">ي</option>
      </select>
    </p>

    <p class="kalima">

      <label for="mudaif">مضاعف</label>
      <input type="checkbox" id="mudaif">

      <label for="ayn">عين كلمة</label>
      <select name="ayn" id="ayn" v-model="ayn" @change="runSarf">
        <option value="ء">ء</option>
        <option value="ب">ب</option>
        <option value="ت">ت</option>
        <option value="ث">ث</option>
        <option value="ج">ج</option>
        <option value="ح">ح</option>
        <option value="خ">خ</option>
        <option value="د">د</option>
        <option value="ذ">ذ</option>
        <option value="ر">ر</option>
        <option value="ز">ز</option>
        <option value="س">س</option>
        <option value="ش">ش</option>
        <option value="ص">ص</option>
        <option value="ض">ض</option>
        <option value="ط">ط</option>
        <option value="ظ">ظ</option>
        <option value="ع" SELECTED>ع</option>
        <option value="غ">غ</option>
        <option value="ف">ف</option>
        <option value="ق">ق</option>
        <option value="ك">ك</option>
        <option value="ل">ل</option>
        <option value="م">م</option>
        <option value="ن">ن</option>
        <option value="و">و</option>
        <option value="ه">ه</option>
        <option value="ي">ي</option>
      </select>
    </p>

    <p class="kalima">
      <label for="lam">لام كلمة</label>
      <select name="lam" id="lam" v-model="lam" @change="runSarf">
        <option value="ء">ء</option>
        <option value="ب">ب</option>
        <option value="ت">ت</option>
        <option value="ث">ث</option>
        <option value="ج">ج</option>
        <option value="ح">ح</option>
        <option value="خ">خ</option>
        <option value="د">د</option>
        <option value="ذ">ذ</option>
        <option value="ر">ر</option>
        <option value="ز">ز</option>
        <option value="س">س</option>
        <option value="ش">ش</option>
        <option value="ص">ص</option>
        <option value="ض">ض</option>
        <option value="ط">ط</option>
        <option value="ظ">ظ</option>
        <option value="ع">ع</option>
        <option value="غ">غ</option>
        <option value="ف">ف</option>
        <option value="ق">ق</option>
        <option value="ك">ك</option>
        <option value="ل" SELECTED>ل</option>
        <option value="م">م</option>
        <option value="ن">ن</option>
        <option value="و">و</option>
        <option value="ه">ه</option>
        <option value="ي">ي</option>
      </select>
    </p>

    <p>
      <label>Talilaat Ruleset Selection</label>
      <select name="ruleset" id="ruleset">
        <option value="mandatory" SELECTED>Mandatory Rules Only</option>
        <option value="optional">Optional Rules Included</option>
        <option value="disabled">Disable All Rules</option>
      </select>
    </p>
  </div>
  <Bab babname="باب تَفْعِيلَ - Form 2" :mushtaq=sarrafa />
  <Bab babname="باب قَاتَلَ - Form 3" :mushtaq=qaatala />
  <Bab babname="باب أَكْرَمَ - Form 4" :mushtaq=akrama />
  <Bab babname="باب تَقَبَّلَ - Form 5" :mushtaq=taqabbala />
  <Bab babname="باب تَقَابَلَ - Form 6" :mushtaq=taqaabala />
  <Bab babname="باب إِنْفَطَرَ - Form 7" :mushtaq=infatara />
  <Bab babname="باب إِجْتَنَبَ - Form 8" :mushtaq=ijtanaba />
  <Bab babname="باب إِحْمَرَّ - Form 9" :mushtaq=ihmarra />
  <Bab babname="باب إِسْتَنْصَرَ - Form 10" :mushtaq=istansara />
  <Bab babname="باب إِخْشَوْشَنَ" :mushtaq=ikhshawshana />
  <Bab babname="باب إِدْهَامَّ" :mushtaq=idhaamma />
  <Bab babname="باب إِجْلَوَّذَ" :mushtaq=ijlawwadha />

</template>

<style scoped>
h1 {
  font-family: 'Amiri Quran', serif;
}

select, option {
  font-family: 'Amiri', serif;
  text-align: right;
  font-size: 30px;
}
</style>
